.App {
  width: 415px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #eee;
  min-height: 90vh;
}

@media (max-width: 415px) {
  .App {
    width: 100%;
    overflow: hidden;
  }
} 

.brand {
  text-align: center;
  font-size: xx-large;
  font-weight: 400;
  padding: 20px 0;
}